.brands-container {
    display: flex;
    gap: 0.875rem;
    height: 9.375rem;
  }

  .brands-card {
    align-items: center;
    padding: 10px 25px 10px 10px;
    background-color: #ffffff; /* Beyaz renk */
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2); /* Gölgelik */
    overflow-y: auto; /* Scroll olması için */
    height: 9.375rem;
  }
  
  .brands-card label {
    font-weight: 300; /* Yazı tipini ince yapmak için */
  }
  
  .brands-card input[type='checkbox'] {
    margin-right: 0.5rem;
    /* Checkbox stilini sıfırla */
    width: 1rem;
    height:  1rem;
    border-radius: 0.25rem ;/* Yuvarlatılmış köşeler */
    border: 2px solid #4753fc; /* Mavi renkli çerçeve */
  }
  
  .brands-card input[type='checkbox']:checked {
    background-color: #4753fc; /* Mavi renk */
  }
  

  .input-search{
    border:0px;
    padding: 0.375rem;
    margin-bottom: 0.625rem;
    margin-left: 0.188rem;
    height: 1.25rem;
    background-color: #f1ecec;
  }
  