.cart-container {
    display: flex;
    gap: 10px;
    
    
  }
  
  .cartlist-card {
    flex-basis: 100%;
   
    align-items: center;
    padding: 10px 10px 10px 10px;
    
  
    background-color: #ffffff; /* Beyaz renk */
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2); /* Gölgelik */
    margin-bottom: 30px;
    margin-top: 40px;
  }

  .marka-name{
    padding-right: 30px;
    
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 15px;
    width: 10px;
    overflow: hidden !important;
  }

  .cart-value-btn{
    background-color:#4753fc ;
    color: white;
    font-size: 16px;
  }
  .btnn{
    width: 25px;
    height: 25px;
    float: right;
  }

  .price{
    color: #4753fc;
    margin-top: 1px;
  }

  .cart-value-btn {
    text-align: center;
  }