.cart-container {
    display: flex;
    gap: 0.625rem;
    
    
  }
  
  .cartlist-card {
    flex-basis: 100%;
   
    align-items: center;
    padding: 0.625rem;
    
  
    background-color: #ffffff; /* Beyaz renk */
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2); /* Gölgelik */
    margin-bottom: 1.875rem;
    margin-top: 2.5rem;
  }

  .marka-name{
    padding-right: 1.875rem;
    
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 13px;
    width: 0.625rem;
    overflow: hidden !important;
  }

  .cart-value-btn{
    background-color:#4753fc ;
    color: white;
    font-size: 15px;
  }
  .btnn{
    width: 1.563rem;
    height: 1.563rem;
    float: right;
  }

  .price{
    color: #4753fc;
    margin-top: 1px;
  }

  .cart-value-btn {
    text-align: center;
  }