.checkout-container {
    display: flex;
    gap: 0.625rem;
    
  }
  
  .checkout-cart {

   
    align-items: center;
    padding: 0.625rem;
    
  
    background-color: #ffffff; /* Beyaz renk */
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2); /* Gölgelik */
  }

  .sepet-toplam{
    
    font-weight: bold;
  }

  .btn-check{
    color: white;
    border-radius: 5px;
    width: 13.438rem;
    height: 2.188rem;
    background-color: #4753fc;
  }

  .sepet-toplam{
    color: #4753fc;
  }

  
  
  

  