.login-box{
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 10;
}

.login-container{
    display: block;
}

.inpt{
    border: 2px solid #434343;
    border-radius: 5px;
    
    font-size: 16px;
    color: #333;
}

.btn-login{
    background-color: dodgerblue;
    border-radius: 5px;
    font-size: 16px;
    color: #000;
    


}

@media screen and  (max-width:760px){
    .login-box{
        display: block;
        
    }   
    .login-container{
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .register-container{
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .inpt{
        width: 200
    }
    
    
}