.right-column{
    /* width: 15%;
    float:inline-end;
    display: flexbox;
    flex-direction: column;
    align-items: center; */
    grid-column: span 3;
    align-items: center;
    justify-content: center;
    margin-right: 165px;
    margin-left: auto;
   

}