.sort-container {
    display: flex;
    gap: 10px;
    
  }
  
  .sort-card {

   
    align-items: center;
    padding: 10px 40px 10px 10px;
    
    background-color: #ffffff; /* Beyaz renk */
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2); /* Gölgelik */
  }
  .sort-card label {
    font-weight: 300; /* Yazı tipini ince yapmak için */
  }
  
  .sort-card input[type='radio'] {
    margin-right: 8px;
    /* Radyo düğmesi stilini sıfırla */
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #4753fc; /* Mavi renkli çerçeve */
  }
  
  .sort-card input[type='radio']:checked {
    background-color: #4753fc; /* Mavi renk */
  }
  