.header{
  color: white;
  background-color: #4753fc;
  margin-top: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* 12 birimlik ızgara */
  grid-gap: 10px; /* İzgara aralığı */
}

.header-left{
  grid-column: span 3;
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-left: 125px;
  
}

.header-center{
  
  grid-column: span 6;

}

.header-right{
  
  grid-column: span 3

}

@media (max-width: 808px) {
  .header-center {
    width: 100%; /* Tam genişlik yapın */
    display: flex;
    justify-content: center; /* Yatayda ortala */
    align-items: center;
    flex-direction: column; /* Dikeyde sırala */
  }

  .header-center input {
    width: 80%; /* İstediğiniz boyuta göre ayarlayın */
    max-width: 300px; /* Maksimum genişlik belirleyin */
    margin-bottom: 10px; /* İstediğiniz boşluk değerini belirleyin */
  }
}

@media screen and (max-width: 808px) {
 
  .header {
      grid-template-columns: 1fr; 
  }
  .header-left {
    grid-column: span 12; /* Sol bölümü tam genişlik yapın */
    margin-left: 0; /* Ek bir margin bırakmayın */
  }

  .header-center {
    grid-column: span 12; /* Orta bölümü tam genişlik yapın */
    justify-content: center; 
  }

  .header-right {
    grid-column: span 12; /* Sağ bölümü tam genişlik yapın */
    padding-bottom: 5px;
  }
}
.App{
  height: 100%;
  width: 100%;
}

.anabir{

}

.anaiki{
  display: grid;
  grid-template-columns: repeat(12, 1fr); 
  grid-gap: 10px; 

}

body{
  background-color: #fafafa;
}








@media (min-width: 808px) {
  .header-left {
    width: 25%;
    text-align: center;
  }

  
}

