.header{
  color: white;
  background-color: #4753fc;
  margin-top: 0;
  display: flex;
}

.header-left{
  width: 25%;
  text-align: center;
}

.header-center{
  width: 50%;
  height: 85%;
  align-items: center;
  display: flex;
}




.header-right{
  width: 25%;
  text-align: center;

  padding: 130;
}

@media (min-width: 768px) {
  .header-left {
    width: 25%;
    text-align: center;
  }

  .header-center {
    width: 50%;
    height: 85%;
    align-items: center;
    display: flex;
  }
}



